@import url('https://fonts.googleapis.com/css2?family=Titillium+Web:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lobster&display=swap');

html{
  font-family: 'Titillium Web', sans-serif;
}

.titleApp{
  font-family: 'Lobster', cursive;
  font-size: 35px;
  margin-left: 10px;
}

.ButtonAddNoteHome{
  width: 100%;
}

.formInputNote{
  margin-top: 10px;

}

.divInputNote{
  padding-top: 10px;
  width: 100%;
}

.titleTextField{
  width: 100%;
}

.ContentTextField{
  width: 100%;
}

.btn-save{
  background: green;
}

.CardItem{
  display: flex;
  margin-top: 10px;
  padding: 10px;
}

.GridCard{
  width: 95%;
}

.GridCardButton{

  margin-top: 25px;
  align-content: center;
}

.GridCardButton Button{
  margin-top: 10px;
}

.btnCardUpdDel{
  width: 100%;
}