@import url('https://fonts.googleapis.com/css2?family=Titillium+Web:wght@300&display=swap');

html{
  font-family: 'Titillium Web', sans-serif;
}

.formInputNote{
  margin-top: 10px;

}

.divInputNote{
  padding-top: 10px;
  width: 100%;
}

.titleTextField{
  width: 100%;
}

.ContentTextField{
  width: 100%;
}

.btn-save{
  background: green;
}

.CardItem{
  margin-top: 10px;
  padding: 10px;
}