html{
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.formInputNote{
  margin-top: 10px;

}

.divInputNote{
  padding-top: 10px;
  width: 100%;
}

.titleTextField{
  width: 100%;
}

.ContentTextField{
  width: 100%;
}

.btn-save{
  background: green;
}